@charset "UTF-8";

.page-container nav a{
	background-color: none;
	background-image: url("../images/ie_transparency_normal.png");
}

.page-container nav a:hover{
	background-color: none;
	background-image: url("../images/ie_transparency_over.png");
}