@charset "UTF-8";

/* Text Formatting */

body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px; /* Closest approximation between Windows and Mac platforms, and base for em measurements */
	margin: 0;
	padding: 20px;
	color: #444;
	background: #252525;
} 

.page-container{
	font-size: 1em;
}

h1{
	font-size: 2em;
	color: #276193;
	margin: 0px 0px .5em 0px;
	font-weight: normal;
}

h2{
	font-size: 1.6em;
	color: #692564;
	margin: 0px 0px 0.5em 0px;
}

h3{
	font-size: 1.25em;
	color: #8b5487;
	margin: 0px 0px .25em 0px;
}

p{
	margin: 0px 0px 1em 0px;
	font-size: 1em;
}

li{
	margin: 0px 0px 1em 0px;
}

a img{
	border: none;
}

a{
	color: #018fd8;
}

a:hover{
	color: #a5319d;
}

.content-sidebar h3{
	color: #3274ad;
	margin-bottom: 10px;
}

.content-sidebar p, .content-sidebar li{
	color: #3274ad;
}

.content-sidebar a{
	color: #cc14a1;
}

.content-sidebar a:hover{
	color: #000;
}

.content-sidebar figure{
	display: block;
	margin: 0px;
	padding: 0px;
}

.content-sidebar figure .figure-photo{
	background: url('../images/sidebar_photo_large.jpg' ) 50% 0px;
	margin: 0px 0px 10px 0px;
	height: 175px; 
	border: 1px solid #414141;
	
	/* set border radius for all supported browsers */
	border-radius: 10px;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	/* set box shadow for all supported browsers */
	box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.content-sidebar figure figcaption{
	font-size: 0.9em;
	display: block;
	color: #777;
	margin: 3px 0px 15px 0px;
	padding: 0px 10px 0px 10px;
}

/* Layout */ 

.page-container{
	position: relative;
	margin: 0px auto 0px auto;
	max-width: 960px; /* ensure the page never gets larger than this value */
}

.page-container header{
	display: block;
	position: relative;
	height: 175px;
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: : 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: : 10px;
	-webkit-border-top-right-radius: 10px;
	background: url('../images/banner_large.jpg') no-repeat 0px 0px;
}

.page-container header a.logo{
	position: absolute;
	top: 45px;
	left: 45px;
	display: block;
	width: 180px;
	height: 105px;
	background: url('../images/logo_large.png') no-repeat 0px 0px;
}

.page-container .content-container{
	background-color: #fff;
	padding: 1px 0px 1px 0px;	
}

.page-container .content-container .content-container-left{
	width: 70%;
	float: left;
	margin: 0px;
	padding: 0px;
}

.page-container .content-container .content-container-right{
	width: 30%;
	float: left;
	margin: 0px;
	padding: 0px;
}

.page-container .content-container .content{
	margin: 15px 20px 20px 20px;
	padding: 0px;	
}

.page-container .content-container .content-sidebar{
	margin: 15px 20px 20px 0px; 
	padding: 10px;
	border: 1px solid #bdbdbd;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #f1f1f1;
}

.page-container nav{
	position: absolute;
	top: 77px;
	right: 20px;
	text-align: right;
	border: none;
}

.page-container nav a{
	border: 1px solid #fff;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	color: #fff;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	margin: 0px 2px 4px 2px;
	background-color: rgba(0,0,0,.6);
	font-size: 1.15em;
}

.page-container nav a:hover{
	background-color: rgba(44,80,117,0.7);
	color: #fff;
}

.page-container footer{
	display: block;
	border-top: 1px solid #ddd;
	padding: 15px 10px 15px 20px;
	font-size: 0.9em;
	color: #757575;
	background-color: #fff;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: : 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: : 10px;
	-webkit-border-bottom-right-radius: 10px;	
	box-shadow: 0px 5px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 5px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 5px 3px rgba(0,0,0,.3);
	background: -moz-linear-gradient(top, #ffffff 60%, #cccccc 90%);
	background: -webkit-gradient(linear left top, left bottom, color-stop(60%, #ffffff), color-stop(90%, #cccccc));
}

.clear_both{
	clear: both;
	line-height: 1px;
}

/* Small Screen */

@media screen and (min-width: 150px) and (max-width: 650px){
	body{
		padding: 10px;
	}
	
	.page-container{
		margin: 0px;
		padding: 0px;
		font-size: 1.2em;
	}
	
	.page-container header{
		height: 50px;
		background-image: url("../images/banner_small.jpg");
	}
	
	.page-container header a.logo{
		top: 3px;
		left: 25px;
		margin: 0px auto 0px auto; /* center the logo on the smaller screen device */
		width: 127px;
		height: 38px;
		background: url("../images/logo_small.png") no-repeat 0px 0px;
	}
	
	.page-container .content-container .content-container-left{
		width: inherit;
		float: none;
		margin: 0px;
	}
	
	.page-container .content-container .content-container-right{
		width: inherit;
		float: none;
		margin: 0px;
	}
	
	.page-container .content-container .content{
		margin: 10px 10px 20px 10px;
	}
	
	.page-container .content-container .content-sidebar{
		margin: 0px 10px 15px 10px
	}

	.page-container .content-container .content-sidebar figure{
		width: 30%;
		float: right;
		margin-left: 15px;
	}
	
	.page-container .content-container .content-sidebar figure .figure_photo{
		background: url('../images/sidebar_photo_small.jpg');
		height: 100px;
	}
	
	.page-container .content-container .content-sidebar figure figcaption{
		font-size: 0.8em;
		text-align: right;
		padding: 0px 10px 0px 10px;
	}
	
	.page-container nav{
		position: inherit;
		padding: 15px 0px 1px 0px;
		text-align: left;
		border-top: 1px solid #ddd;
	}
	
	.page-container nav a{
		color: #fff;
		padding: 7px 10px 7px 10px;
		font-weight: bold;
		font-size: 1em;
		display: block;
		margin: 0px 10px 15px 10px;
		background: #47657f url('../images/mobile_link_arrow.png') no-repeat right 50%;
	}
	
	/* touch devices don't have hover states, but for browser squishing...*/
	.page-container nav a:hover{
		color: #fff;
		background-color: #27425a;		
	}
	
	.page-container footer{
		font-size: 0.8em;
	}


/* Media Queries: Medium Screen */

@media screen and (min-width: 650px) and (max-width: 800px){
	.page_container{
		margin: 0px;
		padding: 0px;
		font-size: 1.15em;
	}	
	
	.page_container header{
		height: 90px;
		background-image: url('../images/banner_medium.jpg');
		padding: 10px 50px 0px 75px;
	}
	
	.page_container header a.logo{
		top: 20px;
		left: 25px;
		width: 90px;
		height: 55px;
		background: url('../images/logo_medium.png') no-repeat 0px 0px;
	}
	
	.page-container nav{
		top: 30px;
	}
	
	.page-container nav a{
		border-color: #fff;
		margin-left: 10px;
		padding: 5px 10px 5px 10px;
		font-size: 0.9em;
	}
	
	.page-container .content-sidebar figure .figure-photo{
		background-image: url('../images/sidebar_photo_medium.jpg');
		height: 150px;
	}
	
	.page-container .content-sidebar figure figcaption{
		font-size: 0.8em;
	}
}



